.Footer{
    display: flex;
    flex-direction: column;
}
.Heading{
    margin-left: 30px;
    font-family: Satoshi;
font-size: 15px;
font-weight: 700;
line-height: 27px;
text-align: left;

}

.content{
    display: flex;
    background-color: whitesmoke;
    flex-direction: column;
    margin: 20px;
    margin-top: 0px;
    border-radius: 5px;
}
.contentst{
    list-style: none;
}
.points{
    margin: 10px;
}
.endcontent{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-bottom: 10px;
}
.endcontentdetails{
    margin-bottom: 5px;
}